@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-fb {
    width: 100%;
    height: 12rem;
    background-color: #FFDCDC;
    position: relative;
    display: flex;
}

.heading-word h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FF9292;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 3rem;
}

.heading-word p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.login-form {
    width: 100%;
    height: 28rem;
    background-color: #FFDCDC;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-logins {
    width: 80%;
    height: 20rem;
    background-color: #FFE8E8;
    box-shadow: 1px 1px 20px #3333335d;
    display: flex;
    position: relative;
    border-radius: 10px;
}

.username-container {
    margin-top: 20px;
    width: 90%;
    height: 3.5rem;
    display: flex;
    border: 1px solid #00000044;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-indent: 5px;
    background-color: #FFE8E8;
    color: #000;
}

.password-container {
    margin-top: 20px;
    width: 90%;
    height: 3.5rem;
    display: flex;
    border: 1px solid #00000044;
    position: absolute;
    top: 5em;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-indent: 5px;
    background-color: #FFE8E8;
    color: #000;
}

.btn-login {
    margin-top: 20px;
    width: 90%;
    height: 3.5rem;
    display: inline-block;
    position: absolute;
    border: 1px solid #FF9292;
    background-color: #FF9292;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFF;
    top: 9em;
}

.float-logins span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FF9292;
    display: flex;
    position: absolute;
    left: 25%;
    top: 80%;
}

.footer-create {
    width: 100%;
    height: 7.48rem;
    background-color: #FFDCDC;
    display: flex;
    position: relative;
}

.create-page {
    text-align: center;
}

.create-page p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    padding-top: 10px;
}

.float-logins a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
    
}



@media only screen and (max-width: 415) {
    .header-fb {
        width: 100%;
        height: 10rem;
        background-color: #FFDCDC;
        position: relative;
    }
}
